.RuleList {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}
.header{
  background-color: #D4A373;
}
.body{
  background-color: #FEFAE0;
}
.footer{
  background-color: #FAEDCD;
}
.RuleItem {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.RuleItem h6 {
  margin-bottom: 5px;
  color: #333;
}

.RuleItem p {
  margin: 0;
  color: #666;
}
