.NavBar {
    /* background-color: #ffffff; */
    background: transparent;
    border: 1px solid #dadadf;
    font-size: 1.1em;
    font-weight: bolder;
  }
  
  .NavLink {
    padding: 5px;
    margin-right: 15px;
  }
  
  .Active i {
    color: #313030;
  }